<h1>Please type in your zipcode</h1>
<form action="/input_zip" method="post">
	<input type="text" placeholder="Zipcode goes here" name="input_zip">
	<input type="submit" value="Pants or Shorts ?">
</form>